.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 40px auto;
    padding-left: 15px;
    padding-right: 15px;
}

.profileWrapper {
    /* display: flex; */
    /* padding: 1rem 1.2rem; */
    /* align-items: center; */
    margin-bottom: 20px;
    /* justify-content: space-between; */
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 20px 5px 20px;
    box-shadow: 0 1px 2px 0 rgba(36, 39, 44, 0.15);
}
.imageWrapper {
    display: flex;
    align-items: center;
}

.image {
    border-radius: 50%;
    margin-bottom: 10px;
    margin-right: 30px;
}

.brand {
    color: #1976d2;
}