.wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 40px auto;
    padding-left: 15px;
    padding-right: 15px;
}

.truncate {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.brandSearchCarousel {
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 16px;
    /* padding-bottom: 16px; */
}