.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 40px auto;
    padding: 1rem;
}

.box {
    padding: 20px 20px 30px 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(36, 39, 44, 0.15);
}

.image {
    border-radius: 50%;
    margin-left: 20px;
}
