.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    /* border: 1px solid #d3d3d3; */
    /* border-radius: 10px; */
    /* padding: 1rem; */
}

.box {
    border: 1px solid #d3d3d3;
    padding: 20px 20px 30px 20px;
    border-radius: 10px;
    background-color: #fafafa;
}

.image {
    border-radius: 50%;
    margin-left: 20px;
}
