.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 10px auto;
    padding: 30px 15px;
}

.tabWrapper {
    border-bottom: 1px solid #0000001f;
}

.tabPanel {
    padding-left: 0;
    padding-right: 0;
}

.description {
    /* background-color: #ffffff; */
    padding: 15px 0;
    /* border: 1px solid #d3d3d3; */
    /* border-radius: 8px; */
    /* box-shadow: 0 1px 2px 0 rgba(36, 39, 44, 0.15); */
}

.stackWrapper {
    /* background-color: #ffffff; */
    padding: 15px 20px;
    margin-top: 24px;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    /* box-shadow: 0 1px 2px 0 rgba(36, 39, 44, 0.15); */
}

.image {
    width: 565px;
    height: 100%;
    max-width: 100%;
    border-radius: 5px;
}

.link:hover {
    text-decoration: underline;
    text-decoration-color: #1976d2;
    text-decoration-thickness: 1px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 12px;
    padding: 12px;
    margin: 30px 0 10px 0;
}

@media screen and (max-width: 425px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.gallery__image {
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 5px;
    width: 400px;
}