.gridWrapper {
    display: flex;
    justify-content: center;
}

.tabWrapper {
    border-bottom: 1px solid #0000001f;
}

.tabPanel {
    padding-left: 0;
    padding-right: 0;
}

.description {
    background-color: #fafafa;
    padding: 25px;
    border-radius: 2;
}

.stackWrapper {
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    padding: 25px;
    margin-top: 24px;
    width: 100%;
    max-width: 768px;
}

.image {
    width: 565px;
    height: 100%;
    max-width: 100%;
    border-radius: 5px;
}

.link:hover {
    text-decoration: underline;
    text-decoration-color: #1976d2;
    text-decoration-thickness: 1px;
}
