.logo {
    max-width: 100%;
}

.footer {
    margin-top: auto;
    background-color: #202020;
    /* border-top: 1px solid #d3d3d3; */
}

.link:hover {
    text-decoration: underline;
    text-decoration-color: #d2b019;
    text-decoration-thickness: 1px;
}

.link:hover .linkText {
    color: #d2b019;
}

/* .developer{
    color: #d2b019;
} */

.developer:hover{
    color: #d2b019;
    text-decoration: underline;
    text-decoration-color: #d2b019;
    text-decoration-thickness: 1px;
}

.icon:hover {
    transform: translate(0, -7px);
    transition: all 0.1s linear;
}