.toolbarTopMost {
    display: flex;
    justify-content: space-around;
    background-color: rgb(31, 49, 137);
}

.toolbarBlur {
    display: flex;
    justify-content: space-around;
    background-color: rgb(31, 49, 137, .8);
    box-shadow: 0 0 1px 0 rgba(50, 50, 50, 1);
}

@media screen and (max-width: 1280px) {
    .toolbarTopMost, .toolbarBlur {
        display: flex;
        justify-content: space-between;
    }
}

.logo {
    max-width: 100%;
    /* margin-bottom: 10px; */
    margin-top: 5px;
}

.navLinkContainer {
    padding: 5px 16px;
    background-color: #fcfcfc;
    border-radius: 20px;
    color: #000000;
}

.navLinkContainerUnselected{
    padding: 5px 16px;
    color: #ffffff;
}

.navLinkContainer:hover,
.navLinkContainerUnselected:hover {
    background-color: #fcfcfc;
    border-radius: 20px;
    color: #505050;
}