.appbar {
    background-color: white;
}

.toolbar {
    display: flex;
    justify-content: space-around;
    background-color: #1f308a;
}

.navbar {
    padding: 15px 20px;
    background-color: "#ffffff";
    border-bottom: 1px solid #d3d3d3;
}

.logo {
    max-width: 100%;
    margin-bottom: 10px;
}

@media screen and (max-width: 1280px) {
    .toolbar {
        display: flex;
        justify-content: space-between;
    }
}

.navLinkContainer {
    padding: 5px 16px;
    background-color: #fcfcfc;
    border-radius: 20px;
    color: #000000;
}

.navLinkContainerUnselected{
    padding: 5px 16px;
    color: #ffffff;
}

.navLinkContainer:hover,
.navLinkContainerUnselected:hover {
    background-color: #fcfcfc;
    border-radius: 20px;
    color: #505050;
}