.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 40px auto;
    padding-left: 15px;
    padding-right: 15px;
}

.box {
    border: 1px solid #d3d3d3;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    background-color: #fafafa;
}

.inquiryCard {
    display: flex;
    padding: 20px 20px;
    margin-top: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(36, 39, 44, 0.15);
}

.inquiryCard:hover {
    transform: translate(0, -3px);
    transition: all 0.1s linear;
}

.avatar {
    width: 40px;
    height: 40px;
    background-color: #1976d2;
    margin-right: 18px;
}

.bigAvatar {
    width: 56px;
    height: 56px;
    background-color: #1976d2;
    margin-right: 18px;
}

.truncate {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.messageWrapper {
    display: flex;
    margin-top: 20px;
}

.messageBubble {
    background-color: #f1f5f9;
    padding: 10px;
    border-radius: 10px;
}
