.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.box {
    border: 1px solid #d3d3d3;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    background-color: #fafafa;
    /* max-width: 500px; */
}

.inquiryCard {
    display: flex;
    border-bottom: 1px solid #d3d3d3;
    padding: 20px 10px;
    margin-top: 10px;
}

.inquiryCard:hover {
    background-color: #fafafa;
}

.avatar {
    width: 40px;
    height: 40px;
    background-color: #1976d2;
    margin-right: 18px;
}

.bigAvatar {
    width: 56px;
    height: 56px;
    background-color: #1976d2;
    margin-right: 18px;
}

.truncate {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.messageWrapper {
    display: flex;
    margin-top: 20px;
}

.messageBubble {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
}
