.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 40px auto;
    padding-left: 15px;
    padding-right: 15px;
}

.box {
    padding: 20px 20px 20px 20px;
    background-color: #fff;
    margin-bottom: 15px;
    box-shadow: 0 1px 2px 0 rgba(36, 39, 44, 0.15);
    display: flex;
    align-items: center;
    border-radius: 10px;
    flex: 1;
}

.truncate {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.imageBox {
    position: relative;
    margin: auto;
    overflow: hidden;
    height: 100%;
}

.vehicleImage {
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: 200px;
    transform: scale(1);
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 10px;
    max-width: 100%;
}

.imageBox:hover .vehicleImage {
    transform: scale(1.1);
    border-radius: 10px;
}

.link:hover {
    text-decoration: underline;
    text-decoration-color: #1976d2;
    text-decoration-thickness: 2px;
}
