.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    /* border: 1px solid #d3d3d3; */
    /* border-radius: 10px; */
    /* padding: 1rem; */
}

.box {
    /* border: 1px solid #d3d3d3; */
    padding: 20px 20px 20px 20px;
    background-color: #fff;
    margin-bottom: 10px;
    box-shadow: inset 0 -1px 0 0 #eaeaea;
    display: flex;
    align-items: center;
    flex: 1;
}

.truncate {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.imageBox {
    position: relative;
    margin: auto;
    /* border-radius: 10px; */
    overflow: hidden;
    height: 100%;
}

.vehicleImage {
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: 200px;
    transform: scale(1);
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 10px;
    max-width: 100%;
}

.imageBox:hover .vehicleImage {
    transform: scale(1.1);
    border-radius: 10px;
}
