.wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 40px auto;
    padding-left: 15px;
    padding-right: 15px;
}

.imageBox {
    position: relative;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    height: 175px;
}

.imageBox .vehicleImage {
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: 175px;
    transform: scale(1);
    object-fit: contain;
    margin-bottom: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width: 100%;
}


.card:hover .title {
    color: #1976d2;
}

.card {
    border-radius: 15px;
    background-color: #f5f8ff;
    margin-left: 10px;
    margin-right: 10px;
}

.details {
    padding: 0 12px 15px 12px;
}

.card:hover{
    transform: translate(0, -7px);
    transition: all 0.1s linear;
}

.seeAll:hover {
    text-decoration: underline;
    text-decoration-color: #1976d2;
    text-decoration-thickness: 2px;
}

.featuredVehiclesCarousel {
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 16px;
}

.allVehiclesCarousel {
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.title {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.truncate {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}