.wrapper {
    width: 100%;
    /* max-width: 1000px; */
    max-width: 1280px;
    margin: 40px auto;
    padding-left: 15px;
    padding-right: 15px;
}

.imageBox {
    position: relative;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
    height: 175px;
}

.imageBox .vehicleImage {
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: 175px;
    transform: scale(1);
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
    max-width: 100%;
}

/* .imageBox:hover .vehicleImage {
    transform: scale(1.1);
    border-radius: 5px;
} */

/* .card:hover .vehicleImage {
    transform: scale(1.1);
    border-radius: 5px;
} */

.card:hover .title {
    color: #1976d2;
}

.card {
    border-radius: 5px;
    padding: 15px 12px 15px 12px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(36, 39, 44, 0.15);
}

.card:hover{
    transform: translate(0, -7px);
    transition: all 0.1s linear;
}

/* .card:hover .link {
    text-decoration: underline;
    text-decoration-color: #1976d2;
    text-decoration-thickness: 2px;
} */

.seeAll:hover {
    text-decoration: underline;
    text-decoration-color: #1976d2;
    text-decoration-thickness: 2px;
}