.imageBox {
    position: relative;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    height: 200px;
}

.imageBox .vehicleImage {
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: 200px;
    transform: scale(1);
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
    max-width: 100%;
}

.imageBox:hover .vehicleImage {
    transform: scale(1.1);
    border-radius: 10px;
}

.card:hover .title {
    color: #1976d2;
}

/* .card:hover .link {
    text-decoration: underline;
    text-decoration-color: #1976d2;
    text-decoration-thickness: 2px;
} */
