.imageBox {
    position: relative;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
    height: 150px;
}

.imageBox .vehicleImage {
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: 150px;
    transform: scale(1);
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
    max-width: 100%;
}

/* .imageBox:hover .vehicleImage {
    transform: scale(1.1);
    border-radius: 5px;
} */

/* .card:hover .vehicleImage {
    transform: scale(1.1);
    border-radius: 5px;
} */

.card:hover .title {
    color: #1976d2;
}

.card {
    border-radius: 5px;
    padding: 15px 12px 15px 12px;
    background-color: #ffffff;
}

.card:hover{
    transform: translate(0, -7px);
    transition: all 0.1s linear;
}

/* .card:hover .link {
    text-decoration: underline;
    text-decoration-color: #1976d2;
    text-decoration-thickness: 2px;
} */
