@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:wght@900&display=swap');

.wrapper {
    width: 100%;
    /* max-width: 1000px; */
    max-width: 1280px;
    margin: 40px auto;
    padding-left: 15px;
    padding-right: 15px;
}

.imageBox {
    position: relative;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    height: 175px;
}

.imageBox .vehicleImage {
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: 175px;
    transform: scale(1);
    object-fit: cover;
    margin-bottom: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width: 100%;
}

/* .imageBox:hover .vehicleImage {
    transform: scale(1.1);
    border-radius: 5px;
} */

/* .card:hover .vehicleImage {
    transform: scale(1.1);
    border-radius: 5px;
} */


.card:hover .title {
    color: #1976d2;
}

.card {
    border-radius: 15px;
    /* background-color: #ffffff; */
    background-color: #f5f8ff;
    /* box-shadow: 0 1px 1px 1px rgba(36, 39, 44, 0.15); */
    /* border: 1px solid #d3d3d3; */
    margin-left: 10px;
    margin-right: 10px;
}

.details {
    padding: 0 12px 15px 12px;
}

.card:hover{
    transform: translate(0, -7px);
    transition: all 0.1s linear;
}

/* .card:hover .link {
    text-decoration: underline;
    text-decoration-color: #1976d2;
    text-decoration-thickness: 2px;
} */

.seeAll:hover {
    text-decoration: underline;
    text-decoration-color: #1976d2;
    text-decoration-thickness: 2px;
}

.sectionLabel,.sectionLabelSubtitle {
    font-family: 'Inter', sans-serif;
}

.featuredVehiclesCarousel {
    margin-top: 32px;
    margin-bottom: 32px;
}

.allVehiclesCarousel {
    margin-top: 32px;
    margin-bottom: 32px;
}